@model SeoPoc.Web.Services.RouteResult
@{
    ViewBag.Title = Model.SeoTitle;
}

<div class="jumbotron">
    <h1>@Model.SeoTitle</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>City</h2>
        <p>
            @Model.CityId
        </p>
    </div>
    <div class="col-md-4">
        <h2>District</h2>
        <p>@Model.DistrictId</p>
    </div>
    <div class="col-md-4">
    </div>
</div>