truncate table [dbo].[CitySeoParameter]
truncate table [dbo].[DistrictSeoParameter]
truncate table [dbo].[PhraseSeoParameter]
truncate table [dbo].[AliasSeoParameter]
truncate table [dbo].[ArticleGroupSeoParameter]
delete from [dbo].[District]
delete from [dbo].City


select * from dbo.City